#DirectoryIndex index.php
#RewriteEngine on
#RewriteCond $1 !^(index\.php|(.*)\.swf|assets|application|forums|images|css|downloads|jquery|js|robots\.txt|favicon\.ico)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ ./index.php?$1 [L,QSA]

RewriteEngine on
RewriteBase /disk
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]


